@import "./variable";

.far {
    .inside-far-left {
        border: 2px solid black;
        height: 20%;
        background-color: $farLeftColor;
    }


    .inside-middle-left {
        border: 2px solid black;
        height: 20%;
        background-color: $middleLeftColor;
    }

    .inside-middle-right {
        border: 2px solid black;
        height: 20%;
        background-color: $middleRightColor;
    }

    .inside-far-right {
        border: 2px solid black;
        height: 20%;
        background-color: $farRightColor;
    }
}

 .far-left {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 .middle-left {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }

 .middle-right {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
 }

 .far-right {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
 }