section {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section .box-1 {
  width: 50%;
  flex: 2;
  text-align: center;
}
section .box-1 h2 {
  font-size: 40px;
  text-align: center;
}
section .box-1 p {
  text-align: center;
  margin: 10px 10px;
  font-size: 20px;
}
section .box-1 a {
  text-align: center;
}
section .box-1 button {
  padding: 9px 25px;
  border: 2px solid red;
  border-radius: 10px;
  color: black;
  background-color: white;
}
section .box-2 {
  width: 50%;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;
  border: 2px solid red;
}
footer li {
  display: inline-block;
  padding: 0 20px;
}
footer li a {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}
footer h6 {
  color: grey;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;
  border: 2px solid red;
}
header a {
  margin-left: auto;
}
header .header__h6 {
  font-size: 20px;
  color: purple;
}
header .header__ul {
  list-style-type: none;
}
header .header__ul li {
  display: inline-block;
  padding: 0 20px;
}
header .header__ul li a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
header button {
  padding: 9px 25px;
  border-radius: 10px;
  color: white;
  background-color: purple;
  border: none;
}